// Colours

$dark-blue: #070724;
$dark-grey: #38384f;
$grey: #838391;
$cyan: #419ebb;
$light-orange: #eda249;
$purple: #6d2ed5;
$reddish-orange: #d14c32;
$red: #d83a34;
$dark-orange: #cd5120;
$mint-green: #1ec1a2;
$sky-blue: #2d68f0;

// Typography

@mixin heading-1 {
  font-family: Antonio;
  font-weight: 500;
  font-size: 80px;
  line-height: 103px;
}

@mixin heading-2 {
  font-family: Antonio;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

@mixin heading-3 {
  font-family: Spartan;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.5px;
}

@mixin heading-4 {
  font-family: Spartan;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}

@mixin body {
  font-family: Spartan;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

// Sizing

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
